@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  height: 100vh;
  background-image: url(/img/symbiote3.jpg);
  background-position: 65%;
  background-size: cover;
  background-repeat: no-repeat;
}

header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
}

header .navigation .navigation-left {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 8px;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
}

header .navigation .navigation-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 1.8rem;
  font-family: 'Ubuntu', sans-serif;
}

header .navigation .navigation-center a {
  color: #494949;
}

header .navigation .navigation-right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 8px;
  font-size: 1.5rem;
}

header .navigation a {
  color: #909494e0;
  text-decoration: none;
  padding: 6px;
}

header .navigation .mobile {
  font-size: 1.7rem;
}

header .navigation .desktop {
  display: none;
}

header .navigation:hover {
  background-color: #fff;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

header .navigation:hover #reddit:hover {
  color: #ff6a32;
}

header .navigation:hover #discord:hover {
  color: #5865f2;
}

header .navigation:hover a:hover {
  color: #494949;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

header .sidenav-container {
  height: 100%;
  width: 100%;
}

header .sidenav-container .sidenav {
  height: 100%;
  width: 0;
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
  overflow-x: hidden;
  padding-top: 65px;
  background-color: #fff;
  border-right: 1px solid rgba(190, 189, 189, 0.267);
  font-family: 'Arimo', sans-serif;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

header .sidenav-container a {
  display: block;
  padding: 8px 8px 8px 32px;
  color: #909494;
  font-size: 1.03rem;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .sidenav-container a:hover {
  color: #494949;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

header .sidenav-container .closebtn {
  position: absolute;
  padding: 0;
  top: 10px;
  right: 15px;
  font-size: 2.3rem;
  color: #909494;
}

header .sidenav-container .closebtn:hover {
  color: #E50914;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

header .sidenav-container .accordion {
  padding: 8px 8px 10px 32px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: left;
  font-size: 1.03rem;
  color: #909494;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .sidenav-container .active,
header .sidenav-container .accordion:hover {
  color: #494949;
  background-color: rgba(153, 152, 152, 0.144);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

header .sidenav-container .accordion:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-right: 15px;
}

header .sidenav-container .active:after {
  content: "\2212";
}

header .sidenav-container .panel {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

header .sidenav-container .panel p {
  right: -25px;
  font-size: 1.03rem;
}

header .sidenav-container .panel li {
  list-style: none;
}

header .sidenav-container .panel li a {
  margin-left: -25px;
  font-size: 1rem;
}

header .sidenav-container .line {
  width: 190px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #bebdbd44;
}

header .sidenav-container .search-container {
  width: 190px;
  margin: 0 auto;
}

header .sidenav-container .search-container .mobile-search {
  width: 80%;
  padding: 10px;
  outline: none;
  font-size: 0.87rem;
  border: 1px solid #bebdbd44;
}

header .sidenav-container .search-container .search-btn {
  margin-left: -4px;
  width: 19%;
  height: 39px;
  font-size: 1.08rem;
  color: #909494;
  background-color: #fff;
  border: none;
}

@media (min-width: 769px) {
  header .navigation {
    height: 75px;
  }
  header .navigation .mobile {
    display: none;
  }
  header .navigation .desktop {
    display: inline;
    padding-bottom: 24px;
  }
}
/*# sourceMappingURL=layout.css.map */